*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #002147 !important;
}
a{
    text-decoration: none;
    
}




section{
    padding: 50px ;
    
}
#main-btn{
    display: inline-block;
    border-radius: 50px;
    transition: all .4s ease-in-out;
    padding: 10px 27px;
    background-color: transparent;
    border: 2px solid rgb(240, 172, 26);
    color: rgb(241, 22, 22);
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;

}
#main-btn:hover{
    background-color: rgb(216, 3, 3);
    color: rgb(201, 133, 133);
}

.navbar-brand img{
    max-width: 120px;
    height: auto;
}
.navbar {
    
    transition: background-color 1s ease; 
}
.nav-link.active{
   border-bottom: 2px solid gray;
   color: white !important;
   
}


.navbar .nav-link {
    margin: 0 10px;
    position: relative;
    font-size: 15px;
    font-weight: 500px;
    color: rgba(255, 255, 255, 0.87);
    display: inline-block;
}
.header .navbar-toggler {
    border: 0 ;
    color: white; 
    background-color: transparent;
    line-height: 2;
}
.header .navbar-toggler-icon {

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.header .navbar-toggler:focus {
   box-shadow: none;
}
#home-wrapper{
    color: white;
    background-image: url(home.jpeg);
    width: 100%;
    height: auto;
    min-height: 680px;
    background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
   
}
#home h6{
    padding-top: 200px;
    padding-left: 130px;
}
#home h1{
    padding-left: 130px;
}
#about-wrapper img{
    height:500px;
    border: 5px solid rgb(43, 42, 42);
}
#about-wrapper{
   color: white;
 
}
#about-wrapper .nav-link{
    color: rgb(204, 69, 125);
    font-weight: 500;
 }
 .nav-pills .nav-link.active {
    background-color: transparent !important;  
    border: 1px solid red;
    border-radius: 20px;
    
  
  }
 
#about-wrapper h1 {
    
    
color: goldenrod;
  }
section h6,h1{
    background: linear-gradient(to right,red,blue);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#services .card{
   background-color: transparent ;
   border: 2px solid rgb(14, 100, 14);
   color: rgb(118, 129, 182);
}

#contact{
    color: white;
}
#project .card{
   background-color: rgba(32, 24, 143, 0.253);
   backdrop-filter: (2px);
    border: 2px solid rgba(32, 24, 143, 0.185);
    color:white;
    transition: .5s;
 }
 #project .card img{
   height: 300px;
  }
  #project .card .btn{
    background-color: transparent ;
   }
   #project .card .btn:hover{
    background-color: rgb(216, 3, 3);
    color: rgb(201, 133, 133);
    
}
.card:hover{
    scale: 1.05;

}

#contact i{
    margin: 10px;
    border: 1px solid rgb(139, 131, 131);
    height: 40px;
    width: 40px;
    padding-top: 10px;
    border-radius: 20px;
}
#contact button{
   border: 2px solid gray;
}
#contact i{
    transition: all .5s ease-in-out;
 }

#contact i:hover{
    background-color: blueviolet;
    scale: 1.1;
 }




@media (max-width:991px) {
    .menu-navbar{
        text-align: center;
        background-color:rgba(36, 31, 31, 0.966);
    }
    #home h6{
        padding-top: 150px;
        padding-left: 100px;
    }
    #home h1{
        padding-left: 100px;
    }
    #about-wrapper img{
        margin: 0;
        padding: 0;
       position: relative;
       top: 165px;
      }
     
    
  }
  @media (max-width:767px) {
    .menu-navbar{
        text-align: center;
        background-color:rgba(36, 31, 31, 0.966);
    }
    #home h6{
        padding-top: 200px;
        padding-left: 0;
    }
    #home h1{
        padding-left: 0;
    }
    #home {
        text-align: center;
     }
     #about-wrapper img{
      margin: 0;
      padding: 0;
      
     position: relative;
     top: 0;
     right: 25px;
    }
  }