* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #002147 !important;
}

a {
  text-decoration: none;
}

section {
  padding: 5%;
}

#main-btn {
  display: inline-block;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
  padding: 0.6rem 1.7rem;
  background-color: transparent;
  border: 2px solid rgb(240, 172, 26);
  color: rgb(241, 22, 22);
  font-weight: 500;
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-decoration: none;
}

#main-btn:hover {
  background-color: rgb(216, 3, 3);
  color: rgb(201, 133, 133);
}

.navbar-brand img {
  max-width: 100px;
  height: auto;
}
.navbar {
  background-color: transparent;
  transition: all 1s ease;
}

.navbar.scrolled {
  background-color: black; 
}


.nav-link.active {
  border-bottom: 1px solid gray;
  color: white !important;
}

.navbar .nav-link {
  margin: 0 0.625rem;
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.87);
  display: inline-block;
}

.header .navbar-toggler {
  border: none;
  color: white;
  background-color: transparent;
  line-height: 2;
}

.header .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.header .navbar-toggler:focus {
  box-shadow: none;
}

#home-wrapper {
  color: white;
  background-image: url(home.jpeg);
  width: 100%;
  min-height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#home h6 {
  padding-top: 25vh;
  padding-left: 8%;
}

#home h1 {
  padding-left: 8%;
}

#about-wrapper img {
  height: 450px;
  border: 2px solid rgb(43, 42, 42);
}

#about-wrapper {
  color: white;
}

#about-wrapper .nav-link {
  color: rgb(204, 69, 125);
  font-weight: 500;
}

.nav-pills .nav-link.active {
  background-color: transparent !important;
  border: 0.125rem solid red;
  border-radius: 1.25rem;
}

#about-wrapper h1 {
  color: goldenrod;
}

section h6,
h1 {
  background: linear-gradient(to right, red, blue);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#services .card {
  background-color: transparent;
  border: 2px solid rgb(14, 100, 14);
  color: rgb(118, 129, 182);
  transition: 0.5s;
}

#contact {
  color: white;
}

#project .card {
  background-color: rgba(32, 24, 143, 0.253);
  backdrop-filter: blur(2px);
  border: 0.125rem solid rgba(32, 24, 143, 0.185);
  color: white;
  transition: 0.5s;
}

#project .card img {
  height: auto;
  max-height: 300px;
}

#project .card .btn {
  background-color: transparent;
}

#project .card .btn:hover {
  background-color: rgb(216, 3, 3);
  color: rgb(201, 133, 133);
}

.card:hover {
  transform: scale(1.05);
}

#contact i {
  margin: 0.625rem;
  border: 1px solid rgb(139, 131, 131);
  height: 2.5rem;
  width: 2.5rem;
  padding-top: 0.625rem;
  border-radius: 50%;
}

#contact button {
  border: 2px solid gray;
}

#contact i {
  transition: all 0.5s ease-in-out;
}

#contact i:hover {
  background-color: blueviolet;
  transform: scale(1.1);
}

@media (max-width: 991px) {
  .menu-navbar {
    text-align: center;
    background-color: rgba(36, 31, 31, 0.966);
    border: 1px solid black;
    border-radius: 15px;
  }

  #home h6 {
    padding-top: 15vh;
    padding-left: 10%;
  }

  #home h1 {
    padding-left: 10%;
  }


}

@media (max-width: 768px) {
  .menu-navbar {
    text-align: center;
    background-color: rgba(36, 31, 31, 0.966);
    border: 1px solid black;
    border-radius: 15px;
  }

  #home h6 {
    padding-top: 25vh;
    padding-left: 0;
  }

  #home h1 {
    padding-left: 0;
  }

  #home {
    text-align: center;
  }


}
